<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SchoolDBConnection"
			 connectionString="Data Source=DESKTOP-1PHV5U0\SQLEXPRESS;Initial Catalog=SchoolDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

